<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--注入空值和符号 &amp-& &lt-<  &lt->  <![CDATA[符号]]>&-->
    <bean id="user" class="com.lzp.bean.User">
        <constructor-arg name="userid" value="5"/>
        <constructor-arg name="uname">
            <null></null>
        </constructor-arg>
        <constructor-arg name="password">
            <value>&lt; 5 <![CDATA[<]]>  5 &amp; 5<![CDATA[=]]>  5&gt;</value>
        </constructor-arg>
    </bean>
</beans>